<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>ACTORS</title>
</head>
<body>
<div class="container mt-5">
    <h2 align="center">Actor's</h2>

    <form th:action="@{/oscar}">
        <p><input type="submit" value="Show actors with oscar"></p>
    </form>


    <form th:action="@{/actor}">
        <label for="columnName">Sort:</label>
        <select name="columnName" id="columnName">
            <option value="firstname">First name</option>
            <option value="lastname">Last name</option>
            <option value="birth"> Birth</option>
            <option value="gender">Gender</option>
            <option value="score">Score</option>
        </select>
        <br>
        <input type="submit" value="Sort">
    </form>


    <table class="table table-bordered table-sm mt-2">
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Birth</th>
            <th>Gender</th>
            <th>Score</th>
            <th>Oscar</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="l : ${list}" th:field="${l}">
            <td th:text="${lStat.index+1}"></td>
            <td th:text="${l.firstname}"></td>
            <td th:text="${l.lastname}"></td>
            <td th:text="${l.birth}"></td>
            <td th:text="${l.gender}"></td>
            <td th:text="${l.score}"></td>
            <td th:text="${l.oscar}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>